@each $color in gray, blue, green, red {
  .#{$color} {
    background-color: $color;
  }
}

.Month{
  width: 100px;
  height: auto;
  padding: 10px;
  margin: 10px;
  cursor: help;
  text-align: center;
  box-shadow: 4px 4px 2px black;
}